.social-container {
  display: flex;
  width: 180px;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin-top: 1em;
  margin-left: 5%;
  margin-bottom: 1em;
}

.copy-right {
  font-weight: 200;
  font-size: 14px;
}

.footer-list {
  color: #999999;
  padding: 0;
  margin: 20px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 250px));
  column-gap: 30px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-list-item {
  margin-bottom: .8em;
}

@include desktop {
  .footer {
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .footer-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 250px));
    column-gap: 50px;
  }
}